@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0 auto;
    z-index: 0;
    overflow-x: hidden;
    background-color: rgb(164, 194, 255);
    width: 100%;
    height: 1000px;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    
  }
a{
    text-decoration: none;
    color: #00ccff;
}


.logo{
    display: inline-block;
    width: 200px;
    transform:translate(50px);
    
}

nav {
    background-color: transparent;
    font-size: 16px;
    height: 90px;
    font-family: poppins;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
    justify-content: space-between;
    z-index: 1;
    display: flex;
    align-items: center;
  }

.gap{
    color: white;
    
}

.nav-transparent{
    background-color: #08041c;
    box-shadow: none;
    transition: all 0.5s;
}
.contact{
    padding: 10px;
    background-color: rgb(2, 60, 75);
    border-radius: 30px;
}


nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

}
ul{
    transform:translateX(-20px);
}
.about{
    padding-right: 50px ;
}

nav li{
    display: inline-block;
    padding: 25px 20px 30px 25px;



}
nav li a{
    transition: all 0.3s ease 0s;
}

nav li a:hover{
    color: #0088a9;
    
}

 
nav a{
    text-decoration: none;
    color: white;
    
}


footer{
    width: 100%;
    height: 300px;
    bottom: 0;
    right: 0;
    position: absolute;
    background: #08041c;
    transform: translateY(400px);
}

.footer-content {
    font-family: poppins;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 15px;
    color: white;
    left: 0%;
    right: 0%;
    bottom:0%;
    
  }

.footer-logo{
    height: 40px;
    margin-left: auto;
    padding-right: 30px;
    padding-top: 10px;
    

}


.footer-text{
    font-size: 15px;
    letter-spacing: 3px;
    
}
.aboutbox{
    transform: translateY(-400px);
    font-family: poppins;
    color: white;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    
}
.imgholder{
    transform: translateY(-300px);
    display: flex;
    width: 50%;
    border: 3px solid white;
    width: 100%;
    border-radius: 10px;
    
}
.maincontent{
    border: 3px solid white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 10px;
    width: 100%;
    height: 600px;
    background-size: cover;
}

.aboutus{
    display: flex;
    font-family: poppins;
    color: white;
    transform: translateY(-320px);
    justify-content: center;
}

.about1, .about2, .about3{
    padding-left: 190px;
    transform: translateX(-120px);
    display: flex;
    align-items: center;
}
.about1{
    transform: translateX(-200px);
}
.about3{
    transform: translateX(1px);
}

.abouttext{
    font-family: poppins;
    font-size: 20px;
    color: white;
    display:flex;
    z-index: 9;
    position: relative;
    transform: translateX(50px);
    transform: translateY(-300px);
    color:white;
    text-align: center;
    display: flex;
    align-items: center;
}

